<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<robot name="robotis_op3" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- some parameters -->
  <xacro:property name="pi" value="3.141592654" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find robotis_op3_description)/urdf/materials.xacro" />

  <xacro:include filename="$(find robotis_op3_description)/urdf/robotis_op3.structure.head.xacro" />
  <xacro:include filename="$(find robotis_op3_description)/urdf/robotis_op3.structure.arm.xacro" />
  <xacro:include filename="$(find robotis_op3_description)/urdf/robotis_op3.structure.leg.xacro" /> 

  <xacro:include filename="$(find robotis_op3_description)/urdf/robotis_op3.transmissions.xacro" />
    
  <link name="world">
  </link>

  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base"/>
  </joint>

  <link name="base">
  </link>

  <joint name="base_fixed" type="fixed">
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
    <parent link="base"/>
    <child link="robotis_op3_body"/>
  </joint>
          

  <!-- link 1 -->
  <link name="robotis_op3_body">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://robotis_op3_description/meshes/robotis_op3_body_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>

  <xacro:robotis_op3_head  parent="robotis_op3_body" />
  <xacro:robotis_op3_r_arm parent="robotis_op3_body" />
  <xacro:robotis_op3_l_arm parent="robotis_op3_body" />
  <xacro:robotis_op3_r_leg parent="robotis_op3_body" />
  <xacro:robotis_op3_l_leg parent="robotis_op3_body" />
   
</robot>
