<?xml version="1.0"?>
<!-- Launches an UVC camera, the ball detector and its visualization  -->
<launch>    
    <!-- Camera and Ball detector -->
    <include file="$(find ball_detector)/launch/ball_detector_from_usb_cam.launch"/> 

    <!-- <node pkg="ball_tracker" type="ball_tracker_node" name="ball_tracker" output="screen"/> -->
    <node pkg="op3_demo" type="soccer_demo_node" name="soccer_demo" output="screen"/>
</launch>

